# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.6, 3.8]
        exclude:
          - os: macos-latest
            python-version: 3.8
          - os: macos-latest
            python-version: 3.6
        include:
          - os: windows-latest
            python-version: 3.8.10
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r tests/requirements.txt
    - name: Run static analysis lint
      run: ./lint.sh check
    - name: Prepare the API keys & run pytest
      env:
        CLARIFAI_USER_EMAIL: ${{ secrets.INTERNAL_USER_EMAIL }}
        CLARIFAI_USER_PASSWORD: ${{ secrets.INTERNAL_USER_PASSWORD }}
        CLARIFAI_DEPLOY: "Dev" # Want to test in dev for now -- don't merge
        CLARIFAI_GRPC_BASE: "api-dev.clarifai.com" # don't merge
      shell: bash
      run: |
        export PYTHONPATH=.
        export CLARIFAI_APP_ID="$(python scripts/app_and_key_for_tests.py --create-app python-github)"
        export CLARIFAI_API_KEY="$(python scripts/app_and_key_for_tests.py --create-key ${CLARIFAI_APP_ID})"
        export CLARIFAI_PAT_KEY="$(python scripts/app_and_key_for_tests.py --create-pat)"
        python scripts/app_and_key_for_tests.py --create-workflow ${CLARIFAI_API_KEY}
        pip install pytest
        pytest tests/ -n auto
        python scripts/app_and_key_for_tests.py --delete-app ${CLARIFAI_APP_ID}
